/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
.Menu button{
	border-radius: 60px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 13px;
    padding-right: 13px;
	border-color:  #1D6154;
}

.Menu {
	width: 100%;
	gap: 10px;
	display: flex;
	justify-content: center;
	margin-top: 1em;
}

h2{
	flex-wrap: wrap;
}

button.Valider {
	margin-left: 50px;
	width: 237px;
	height: 36px;
	top: 1267px;
	left: 600px;
	gap: 0px;
	border-radius: 60px 60px 60px 60px;
	opacity: 0px;
	background-color: #1D6154;
	color: white;
	margin-top: 1em;
	font-size: 14px;
}



::before {
	position: absolute;
	top: 0;
	right: 0;
}

label#menu {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	background-color: #E8F1F6;
	padding: 15px;
	/*gap: 1em;*/
}

label div {
	border: solid;
	padding: 7px 27px 7px 27px;
	border-radius: 24px;
	border-color: #CBD6DC;
	background-color: #CBD6DC;
	color: #306685;
	margin-top: 1em;
}

select#categoriesSelect {
	padding: 7px;
	border: white;
	box-shadow: 5px 6px 14px -3px darkgray;
}

label span {
	font-size: 12px;
	margin-top: 7px;
}

label img {
	width: 64px;
}

.modal-wrapper input[type="file"] {
	display: none;
}


.modal-galerie figure{
	position: relative;
}

input[type="text"] {
	padding: 7px;
	border: white;
	box-shadow: 5px 6px 14px -3px darkgray;
}

form {
	display: flex;
	flex-direction: column;
	gap: 1em;
	width: 70%;
	margin-top: 10em;
}

div.fleche {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 1em;
	font-size: 2em;
	margin-top: 1em;
}

div.croix{
	position:absolute;
	top: 1;
	right: 0;
	margin-right: 1em;
	font-size: 1.3em;
	margin-top: 1em;
	top: 1em;
}

.modal-galerie.nouveau {
	justify-content: center;
}
.modeedition img{
	margin-right: 5px;
}

h2 img {
	margin-left: 20px;
}

h4 a {
	color: black;
}

.trash{
	height: 15px;
	width: 10px;
	border: none;
	position: absolute;
	top: 0;
	right: 0;
}

.Ajout {
	width: 237px;
	height: 36px;
	top: 1267px;
	left: 600px;
	gap: 0px;
	border-radius: 60px 60px 60px 60px;
	opacity: 0px;
	background-color: #1D6154;
	color: white;
	margin-top: 1em;
	font-size: 14px;
	
}

.MDP{
	display: flex;
	justify-content: center;
	padding-top: 2em;
}

.on {
	display: flex;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .5);
	justify-content: center;
	padding: 2em 0;
}

.modal-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
}

.modal-wrapper h1 {
	padding: 10px;
	justify-content: center;
	font-size: 1.5em;
	display: flex;
}

.modal-galerie figure img {
	width: 90px;
	flex-wrap: wrap;
}

.modal-galerie {
	flex-wrap: wrap;
	display: flex;
	gap: 1em;
	margin-bottom: 2em;
	width: 100%;
	
}

span#modal_btn {
	color: grey;
	margin-left: 5px;
	font-size: 11px;
}

/* pour la page login*/
main h2 {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-bottom: 1em;
}

.login {
	display: flex;
	flex-wrap: wrap;
}

.h4 a {
	display: flex;
	justify-content: center;
	margin-top: 1em;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

* {
	box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1:not(#modal h1) {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2:not(.modal h2) {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
	
}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;
	
}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

a {
	border: none;
}

/*formulaire*/


#FormulaireLogin {
	display: flex;
	flex-direction: column;
	width: 40%;
	gap: 1em;
	margin: 0 auto;
	align-items: center;
}

input#email {
	padding: 1em;
	border: white;
	box-shadow: 0px 4px 14px 0px #00000017;
	width: 100%;
}

input#password {
	padding: 1em;
	box-shadow: 0px 4px 14px 0px #00000017;
	border: white;
	width: 100%;
}

label {
	display: flex;
	/*justify-content: center;*/
	width: 100%;
}

main h1:not(.modal h1) {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 35px;
	font-weight: 700;
	color: green;
	justify-content: center;
	margin-left: 465px;
	margin-bottom: 1em;
}

main h3:not(.modal h3) {
	margin-top: 2em;
	margin-left: 440px;
	color: black;
}

main h3:not(.login h3) {
	margin-top: 2em;
	margin-left: 440px;
	color: black;
}

h3 a {
	color: black;
	margin-left: 15px;
}

form button {
	border-radius: 60px 60px 60px 60px;
	margin-top: 1em;
	background-color: #1D6154;
	color: whitesmoke;
	width: 179px;
	justify-content: center;
	height: 36px;
}

.modeedition {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 3em;
	/* bottom: 0; */
	background-color: black;
	color: white;
	/* text-align: center; */
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
}

.modal-wrapper {
	max-width: calc(120vh - 10px);
	max-height: calc(100vh - 20px);
	width: 600px;
	overflow: auto;
	padding: 45px;
	background-color: #fff;
	justify-content: center;
	position: relative;
}

.modal1 a {
	display: flex;
	justify-content: center;
	align-items: center;
}